<div
  class="modal fade"
  id="modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <ng-container *ngIf="data">
        <div class="modal-header">
          <h1 class="modal-title fs-5">
            {{ data.title }}
          </h1>
          <button
            *ngIf="!data.actions"
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">{{ data.message }}</div>
        <div class="modal-footer" *ngIf="data.actions">
          <button
            type="button"
            class="btn btn-outline-dark"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-dark"
            (click)="data.actions.continue()"
          >
            Continuar
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
