#return {
  background-color: #212529;
  margin-bottom: 40px;

  .link {
    z-index: 2;
  }

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    user-select: none;
    z-index: 1;

    strong {
      color: #ededed;
      font-size: 20px;
    }
  }

  #return-message {
    cursor: default;
    user-select: none;
    color: #ededed;
    font-weight: bold;
    font-size: 18px;
    margin-left: -500px;
  }
}

#return:hover {
  #return-message {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    margin-left: -40px;
  }
}

@media screen and (max-width: 1068px) {
  #create-post:hover {
    #create-post-message {
      display: none;
    }
  }
}

@keyframes slideIn {
  from {
    margin-left: -500px;
  }

  to {
    margin-left: -40px;
  }
}
