#return {
  background-color: #212529;
  margin-bottom: 40px;

  #return-message {
    cursor: default;
    user-select: none;
    color: #ededed;
    font-weight: bold;
    font-size: 18px;
    margin-left: -500px;
  }
}

#return:hover {
  #return-message {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    margin-left: -80px;
  }
}

@keyframes slideIn {
  from {
    margin-left: -500px;
  }

  to {
    margin-left: -80px;
  }
}
