.form-container {
  width: 600px;

  .input-error {
    margin-left: 12px;
    font-size: 14px;
    color: #aaa;
  }

  .btn {
    width: 100%;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 100vw;
    padding: 0 24px;
  }
}
